<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
    <div class="panel panel-primary" *ngIf="employee">
        <div class="panel-heading">
            <h3 class="panel-title">{{panelTitle}}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
                <label for="name" class="control-label">Full Name</label>
                <input type="text" id="name" class="form-control" name="name" [(ngModel)]="employee.name" required
                    #name="ngModel">

                <span class="help-block" *ngIf="name.invalid && name.touched">
                    Full Name is required
                </span>
            </div>
            <div class="form-group" [class.has-error]="email.invalid" [class.has-success]="email.valid">
                <label for="email" class="control-label">Email</label>
                <input id="email" type="text" class="form-control" name="email"
                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" [(ngModel)]="employee.email"
                    #email="ngModel" [required]="contactPreference.value=='Email'">
                <span class="help-block" *ngIf="email.errors?.required">
                    Email is required
                </span>
                <!-- <span class="help-block" *ngIf="email.errors?.email && email.touched">
                    Email is Invalid
                  </span> -->
                <span class="help-block" *ngIf="email.errors?.pattern">
                    Email is Invalid
                </span>
            </div>
            <div class="form-group" [class.has-error]="phoneNumber.invalid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input id="phoneNumber" [required]="contactPreference.value=='Phone'" #phoneNumber="ngModel"
                    class="form-control" type="text" name="phoneNumber" [(ngModel)]="employee.phoneNumber">
                <span class="help-block" *ngIf="phoneNumber.errors?.required">
                    Phone Number is required
                </span>
            </div>
            <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched">
                <label for="">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" name="contactPreference" value="Email"
                            [(ngModel)]="employee.contactPreference" required #contactPreference="ngModel">
                        Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="contactPreference" value="Phone"
                            [(ngModel)]="employee.contactPreference" required #contactPreference="ngModel">
                        Phone
                    </label>
                    <span class="help-block" *ngIf="contactPreference.errors?.required && contactPreference.touched">
                        Contact Preference is required</span>
                </div>
            </div>
            <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
                <label>Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Male" [(ngModel)]="employee.gender" required
                            #gender="ngModel">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="Female" [(ngModel)]="employee.gender" required
                            #gender="ngModel">
                        Female
                    </label>
                </div>
                <span class="help-block" *ngIf="gender.errors?.required && gender.touched">Gender is required</span>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="" class="checkbox-inline">
                        <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive" #isActive="ngModel">
                        Is Active
                    </label>
                </div>
            </div>
            <div class="form-group" [class.has-error]="department.touched &&  department.errors?.defaultSelected">

                <label for="department">Department</label>
                <select name="department" id="department" [(ngModel)]="employee.department" class="form-control"
                    #department="ngModel" appSelectValidator="-1">
                    <option value="-1">Select Department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>
                </select>
                <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
                    Department is required
                </span>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" class="form-control"
                        type="text" bsDatepicker [bsConfig]="datePickerConfig" />
                </div>
            </div>
            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input type="text" id="photoPath" class="form-control" name="photoPath"
                    [(ngModel)]="employee.photoPath">
            </div>
            <div class="form-group">
                <button type="button" (click)="togglePhotoPreview()" class="btn btn-primary"
                *ngIf="employee.photoPath !=='' && employee.photoPath !==null">
                    {{previewPhoto ? "Hide" : "Show"}} Preview
                </button>
            </div>
            <div class="form-group">
                <img [src]="employee.photoPath" alt="" height="200" width="200" *ngIf="previewPhoto
                && employee.photoPath !=='' && employee.photoPath !==null" />
            </div>
            <div ngModelGroup="passwordGroup"
             [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                <div class="form-group" [class.has-error]="password.touched && password.invalid">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" required type="text" class="form-control" name="password"
                        [(ngModel)]="employee.password" #password="ngModel"
                        (change)="confirmPassword.control.updateValueAndValidity()">
                    <span class="help-block" *ngIf="password.touched && password.errors?.required">
                        Password is required
                    </span>
                </div>

                <div class="form-group"
                 [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                    <label for="confirmPassword" class="control-label">Confirm Password</label>
                    <input name="confirmPassword" appConfirmEqualValidator="password" required id="confirmPassword"
                        type="text" class="form-control" [(ngModel)]="employee.confirmPassword"
                        #confirmPassword="ngModel">
                    <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                        Confirm Password is required
                    </span>
                    <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
          !confirmPassword.errors?.required">
                        Password and Confirm Password does not match
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

{{employeeForm.value | json}}

<br />
<br />
Our Employee Model : {{ employee | json}}